/* Results Section */

.results-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.main-container {
    height: 25rem;
    width: 30%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    gap: 30px;
    border-radius: 50px;
}

.your-result {
    height: 100%;
    width: 50%;
    background: rgb(114, 67, 228);
    background: linear-gradient(0deg, rgba(114, 67, 228, 1) 0%, rgba(79, 63, 233, 1) 100%);
    border-radius: 30px;

}

.your-result h3 {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #CCC2FF;
    opacity: 0.7;
    text-align: center;
    padding-top: 25px;
    margin-top: 0;

}

.point-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.point-scale {
    margin-top: 30px;
    height: 60%;
    width: 35%;
    border-radius: 200px;
    background-color: #4827D0;
    padding: 10px;
}

.points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.point {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    color: white;
}

.under-point {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: white;
    opacity: 0.5;
}

.commit-point {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.commit-title {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 560;
    font-style: normal;
    font-size: 30px;
    color: white;
    opacity: 0.9;
    margin-bottom: 0;
}

.commit-paragraph {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: white;
    opacity: 0.8;
    width: 70%;
    margin-left: 37px;
}

/* Summary Section */


.summary-title {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 620;
    font-style: normal;
    color: hsl(224, 30%, 27%);
}


.summary-cards {
    width: 250px;
    padding-right: 20px;

}


.reaction {
    height: 50px;
    width: 100%;
    background-color: #FFF6F5;
    border-radius: 7px;
    font-weight: 600;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
}

.reaction-content {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.reaction-title {
    margin-right: auto;

}

.span-hundred {
    margin-right: 30px;
    opacity: 0.5;
}

.reaction-icon {
    margin-right: 10px;
    margin-left: 30px;
}


.memory {
    height: 50px;
    width: 100%;
    background-color: #FFFBF2;
    border-radius: 7px;
    font-weight: 600;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
}

.memory-content {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.memory-title {
    margin-right: auto;

}

.span-hundred {
    margin-right: 30px;
    opacity: 0.5;
}

.memory-icon {
    margin-right: 10px;
    margin-left: 30px;
}

.verbal {
    height: 50px;
    width: 100%;
    background-color: #F2FAFA;
    border-radius: 7px;
    font-weight: 600;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
}

.verbal-content {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.verbal-title {
    margin-right: auto;

}

.span-hundred {
    margin-right: 30px;
    opacity: 0.5;
}

.verbal-icon {
    margin-right: 10px;
    margin-left: 30px;
}

.visual {
    height: 50px;
    width: 100%;
    background-color: #F3F3FD;
    border-radius: 7px;
    font-weight: 600;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
}

.visual-content {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.visual-title {
    margin-right: auto;

}

.span-hundred {
    margin-right: 30px;
    opacity: 0.5;
}

.visual-icon {
    margin-right: 10px;
    margin-left: 30px;
}


.continue {
    background-color: #303B59;
    border: none;
    border-radius: 50px;
    height: 45px;
    width: 100%;
    color: white;
    font-weight: 500;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
}

.attribution {
    text-align: center;
    margin-top: 50px;
    font-weight: 550;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
}

@media screen and (max-width: 390px) {
    .results-summary {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .main-container {
        width: 100%;
        flex-direction: column;
        height: 100vh;
        display: flex;

    }

    .your-result {
        width: 100%;
    }

    .point-scale {
        width: 35%;
    }

    .points {
        padding: 20px;
    }

    .summary {
        margin-bottom: 60px;
    }

    .summary-cards {
        width: 90%;
        padding-right: 20px;
        margin-left: 20px;
    }

    .summary-title {
        margin-left: 20px;
    }

    .reaction-title {
        margin-right: auto;
        float: left;
        color: #FF7E7D;
        font-weight: 600;
    }

    .reaction-icon {
        margin-right: 10px;
    }

    .memory-title {
        margin-right: auto;
        float: left;
        color: #FFCD6E;
        font-weight: 600;
    }

    .memory-icon {
        margin-right: 10px;
    }

    .verbal-title {
        margin-right: auto;
        float: left;
        color: #00BB8F;
        font-weight: 600;
    }

    .verbal-icon {
        margin-right: 10px;
    }

    .visual-title {
        margin-right: auto;
        float: left;
        color: #4A59DF;
        font-weight: 600;
    }

    .visual-icon {
        margin-right: 10px;
    }

}